.image-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #121420;
}

.image-row>.image-column {
    padding: 5px 10px;
}

.image-row:after {
    content: "";
    display: table;
    clear: both;
}

.image-column {
    float: left;
}

img {
    width: 100%;
    filter: brightness(.8) contrast(1.2);
}

.slide-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #121420;

}

.slide-modal-content {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    height: 800px
}

.slide-modal-content .image-column {
    padding: 0;
}

.close {
    color: rgb(244, 6, 6);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
}

.img-slides {
    display: none;

}

.img-slides:focus-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor {
    cursor: pointer;
}

.prev,
.next {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 18px;
    margin-top: -50px;
    color: rgb(244, 6, 6) !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img.tn {
    width: 200px;
    height: 160px;
    margin-bottom: -4px;
}

img.hover-shadow {
    transition: 0.3s;
}

img.large {
    max-width: 100%;
    height: auto;
    max-width: 800px;
}

.images {
    opacity: 0.7;
}

.active,
.images:hover {
    opacity: 1;
}


.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgb(253, 253, 253), 0 6px 20px 0 rgb(238, 236, 236);
}

.tn {
    margin: 6px 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
    cursor: pointer
}