<div class="auth-wrapper signin-container">
    <form class="container" [formGroup]="passwordReset" (ngSubmit)="resetPassword()">
        <h3 class="form-group col-md-4 mx-auto h3 mb-3 font-weight-normal text-center">Reset Password</h3>
        <div class="form-group col-md-4 mx-auto">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required />
        </div>
        <button type="submit" class="btn btn-block btn-primary form-group col-md-4 mx-auto">Reset Password</button>
    </form>

</div>
