.upload {
    font-weight: bold;
    color: #28a745;
    margin-left: 15px;
    line-height: 36px;
}

.container{
    margin-top: 25px;
    margin-left: 15px;

    margin-bottom:15px;
}

.upload__img{
    width: 350px;
    height: 400px;
}