<div class="auth-wrapper reset-container">
    <form class="container" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <h3 class="form-group col-md-4 mx-auto h3 mb-3 font-weight-normal text-center">Enter your new password</h3>
        <div class="form-group col-md-4 mx-auto">
            <label for="password"
                [ngClass]="passwordForm.controls['password'].invalid ? 'text-danger' : ''">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="passwordForm.controls['password'].invalid ? 'is-invalid' : ''" />
            <label class="col first-label"
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success__white'">
                <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                    passwordForm.controls['password'].hasError('minlength') ? 'cancel' :
                    'check_circle' }}</i>
                Must be at least 8 characters!
            </label>
            <label class="col"
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success__white'">
                <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                    passwordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                    'check_circle' }}</i>
                Must contain at least 1 number!
            </label>
            <label class="col"
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success__white'">
                <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                    passwordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                    'check_circle' }}</i>
                Must contain at least 1 in Capital Case!
            </label>
            <label class="col"
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success__white'">
                <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                    passwordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                    'check_circle' }}</i>
                Must contain at least 1 Letter in Small Case!
            </label>
            <label class="col"
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success__white'">
                <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                    passwordForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                    'check_circle' }}</i>
                Must contain at least 1 Special Character!
            </label>
        </div>
        <div class="form-group col-md-4 mx-auto">
            <label for="confirmPassword"
                [ngClass]="passwordForm.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
                Password:</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password"
                [ngClass]="passwordForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''" />
            <label class="text-danger first-label"
                *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
                Password is Required!
            </label>
            <label class="text-danger first-label"
                *ngIf="passwordForm.controls['confirmPassword'].hasError('NoPasswordMatch')">
                Passwords do not match!
            </label>
        </div>
        <button type="submit" class="btn btn-block btn-primary form-group col-md-4 mx-auto"
            [disabled]="passwordForm.invalid">Reset Password</button>
    </form>
</div>