.reset-container {
    background-image: url('../../../assets/lion-rock1.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 90%;
}

.justify-content-center {
    justify-content: center !important;
}

.is-invalid {
    border-left: solid 6px red;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.text-success__white {
    color: white;
}

.first-label {
    margin-top: 15px;
}

.password-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-visibility-icon {
    margin-left: 15px;
}