.home-container{
    background-image: url('../../../assets/medium-boats.JPG');
    background-color: #121420;
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: lighten;
    
    color: white;

    padding-top: 200px;
    padding-bottom: 200px;
    height: 100%;
}