.home-container{
    background-image: url('../../../assets/medium-boats.JPG');
    background-color: #121420;
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: lighten;
    
    color: white;

    padding-top: 10px;
    height: 100%;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.quote-container{
    max-width: 500px;
}

.quote{
    font-size: 16px;
}

.title{
    font-size: 30px;
}