.signin-container{
    background-image: url('../../../assets/lion-rock1.JPG');
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 90%;
}

.justify-content-center{
    justify-content: center!important;
}

.reset-password--button {
    margin-top: 35px;
}