<div class="auth-wrapper signin-container">
    <form class="container" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <h3 class="form-group col-md-4 mx-auto h3 mb-3 font-weight-normal text-center">Please sign in</h3>
        <div class="form-group col-md-4 mx-auto">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required />
        </div>
        <div class="form-group col-md-4 mx-auto">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-block btn-primary form-group col-md-4 mx-auto">Sign in</button>
    </form>

    <div class="reset-password--button">
        <button type="button"  routerLink="/reset-password-request" class="btn btn-block btn-primary form-group col-md-2 mx-auto">Forgot your password</button>
    </div>
</div>

