.signin-container{
    background-image: url('../../../assets/lion-rock1.JPG');
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 90%;
}

.justify-content-center{
    justify-content: center!important;
}

.reset-password--button {
    margin-top: 35px;
}

.input-group-icon{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(232 240 254);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}